einops==0.8.0
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
patool==1.12
reformer-pytorch==1.4.4
scikit-learn==1.5.0
scipy==1.14.1
sympy==1.13.1
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.3
natsort==8.4.0
timm==0.6.13
transformers~=4.57.1
mne==1.11.0
mne-icalabel==0.8.1
h5py==3.15.0
pyedflib==0.1.42
linear_attention_transformer==0.19.1